@page "/fetchdata"
@using Hogwarts.Server.Models
@using Hogwarts.Server.Services
@inject StudentDataService StudentData

<h1>Students</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (students == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Student ID</th>
                <th>First Name</th>
                <th>Middle Names(C)</th>
                <th>LastName(F)</th>
                <th>House</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in students)
            {
                <tr>
                    <td>@student.Id</td>
                    <td>@student.FirstName</td>
                    <td>@student.MiddleNames</td>
                    <td>@student.LastName</td>
                    <td>@student.HouseName</td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    private IEnumerable<StudentDto> students;

    protected override async Task OnInitializedAsync()
    {
        students = await StudentData.GetAllStudentsAsync();
    }
}
