@using Hogwarts.Data
@if (display)
{
    <div class="modal-backdrop show"></div>

    <div class="modal fade show" id="exampleModal" tabindex="-1"
         role="dialog" aria-labelledby="ExampleModalLabel"
         aria-hidden="true" style="display:block">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">
                        Add Faculty Member
                    </h6>
                    <button @onclick="Cancel" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <EditForm Model="@Staff" OnValidSubmit="@OnSubmit">
                        <DataAnnotationsValidator />
                        <span class="help-block">
                            <ValidationSummary></ValidationSummary>
                        </span>
                        <div class="row">
                            <div class="col-md-6" style="padding-right:0px">
                                <div class="form-group">
                                    <InputText @bind-Value="@Staff.FirstName" placeholder="First Name" type="text" class="form-control form-control-sm"></InputText>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-left:0px">
                                <div class="form-group">
                                    <InputText @bind-Value="@Staff.MiddleNames" placeholder="(Middle Names)" type="text" class="form-control form-control-sm"></InputText>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10" style="padding-right:0px">
                                <div class="form-group">
                                    <InputText @bind-Value="@Staff.LastName" placeholder="Last Name" type="text" class="form-control form-control-sm"></InputText>
                                </div>
                            </div>
                            <div class="col-md-2" style="padding-left:0px">
                                <div class="form-group">
                                    <InputSelect id="gender" class="input-group-sm form-control-sm" @bind-Value=@Staff.Gender>
                                        <option value="@(Gender.Male)">Male</option>
                                        <option value="@(Gender.Female)">Female</option>
                                        <option value="@(Gender.Other)">Other</option>
                                    </InputSelect>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row" style="margin-top:20px">
                                <div class="col-md-6">
                                    <SelectRoles AddRole="AddRole"></SelectRoles>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @if (Staff.Roles.Any())
                                        {
                                            @if (Staff.Roles.Count == 1)
                                            {
                                                <div class="col-form-label-sm">Role</div>
                                            }
                                            else
                                            {
                                                <div class="col-form-label-sm">Roles</div>
                                            }@foreach (var role in Staff.Roles)
                                            {
                                                <RolesOutput Role="role" RemoveRole="RemoveRole"></RolesOutput>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 offset-6">
                                @if (Staff.Roles.Any(r => r.Id == 6))//head of house
                                {
                                    <HeadOfHouseSelect AddHouse="AddHouse"></HeadOfHouseSelect>
                                }
                            </div>
                        </div>
                        <div class="row">
                            @if (Staff.Roles.Any(r => r.Id == 3))//teacher
                            {
                                <div class="col-md-6">
                                    <CourseSelect AddCourse="AddCourse"></CourseSelect>
                                </div>
                                <div class="col-md-6">
                                    <CoursesOutput Staff="Staff"></CoursesOutput>
                                </div>
                            }
                        </div>
                        <div class="modal-footer">
                            <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                            <button @onclick="Cancel" class="btn btn btn-secondary">Cancel</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}




