<tr style="@Highlighted" @key="Staff.Id" @onclick="() => Staff.IsChecked = !Staff.IsChecked">
    <td class="table-checkbox-row">
        <label class="table-checkbox-label">
            <input type="checkbox" @onclick="() => Staff.IsChecked = !Staff.IsChecked" checked="@Staff.IsChecked" />
            <span class="table-checkbox-span"></span>
        </label>
    </td>
    <td class="text-sm-center">@Staff.Id</td>
    <td><span class="ml-1">@Staff.FirstName @Staff.MiddleNames</span> </td>
    <td><span class="ml-1">@Staff.LastName</span> </td>
    <td class="ml-4">
        <span class="float-left">@Staff.Roles.Count()</span>
        @if (!Staff.ShowRoles)
        {
            @if (Staff.Roles.Count() > 0)
            {
                <a @onclick="() => Staff.ShowRoles = !Staff.ShowRoles"><i class="grow float-left fa fa-caret-right" style="color:darkgray; padding-left:10px; padding-top:3px" aria-hidden="true"></i></a>
            }
        }
        else
        {
            <a @onclick="() => Staff.ShowRoles = !Staff.ShowRoles">
                <i class="grow float-left fa fa-caret-down" style="color: darkgrey; padding-top:3px; padding-left:10px" aria-hidden="true"></i>
            </a>
            @foreach (var role in Staff.Roles)
            {
                <span class="badge">@role.Name</span>
            }
        }
    </td>
    
    <td style="padding: 0px" class="text-center">
        @if (Staff.Roles.Any(r => r.Name == "Professor"))
        {
            <button @onclick="() => Staff.ShowCourses = !Staff.ShowCourses"
                    style="margin:0px; background:none; padding:0px" class="btn borderLeftRight">
                <h5 style="margin:0px"><span style="color:lightseagreen">&#10004;</span></h5>
            </button>

            if (Staff.ShowCourses && Courses.Any())
            {
                <div class="form-group">
                    <table class="course-table table table-bordered table-striped table-sm table-hover table-responsive-sm">
                        <thead>
                            <tr>
                                <th>
                                    @(Courses.Count() == 1 ? "Course" : "Courses")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var course in Courses)
                            {
                                <tr style="height:7px">
                                    <td>
                                        @course.Name
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else if(Staff.ShowCourses && !Courses.Any())
            {
                <p>No Courses to show</p>
            }

        }
        else
        {
            <h5 style="margin:0px"><span style="color:red">&#10008;</span></h5>
        }
    </td>
</tr>
