<tr @key="Staff.Id">
    <td class="table-checkbox-row">
        <label class="table-checkbox-label">
            <input type="checkbox" @bind-value="Staff.IsChecked" checked="@Staff.IsChecked" />
            <span class="table-checkbox-span"></span>
        </label>
    </td>
    <td class="text-sm-center">@Staff.Id</td>
    <td><span class="ml-1">@Staff.FirstName @Staff.MiddleNames</span> </td>
    <td><span class="ml-1">@Staff.LastName</span> </td>
    <td class="ml-4">
        <span class="float-left">@Staff.Roles.Count()</span>
        @if (!Staff.ShowRoles)
        {
            @if (Staff.Roles.Count() > 0)
            {
                <a @onclick="() => Staff.ShowRoles = !Staff.ShowRoles"><i class="grow float-left fa fa-caret-right" style="color:darkgray; padding-left:10px; padding-top:3px" aria-hidden="true"></i></a>
            }
        }
        else
        {
            <a @onclick="() => Staff.ShowRoles = !Staff.ShowRoles">
                <i class="grow float-left fa fa-caret-down" style="color: darkgrey; padding-top:3px; padding-left:10px" aria-hidden="true"></i>
            </a>
            @foreach (var role in Staff.Roles)
            {
                <span class="badge">@role.Name</span>
            }
        }
    </td>
    <td class="text-center">
        @if (House != null)
        {
            switch (House.Name)
            {
                case "Gryffindor":
                    <span class="badge" style="background-color: darkred;color :white">
                        @House.Name
                    </span>
                    break;
                case "Slytherin":
                    <span class="badge" style="background-color: forestgreen; color: white">
                        @House.Name
                    </span>
                    break;
                case "Hufflepuff":
                    <span class="badge" style="background-color: blue; color: white">
                        @House.Name
                    </span>
                    break;
                case "Ravenclaw":
                    <span class="badge" style="background-color: #1A3956; color: white">
                        @House.Name
                    </span>
                    break;
            }
        }
        else
        {
            <span class="badge" style="background-color:lightseagreen">
            </span>
        }
    </td>
    <td>
        @if (Staff.Roles.Any(r => r.Name == "Professor"))
        {
            <span class="badge float-left" style="background-color:darkcyan">
                <i style="color:white" class="fa fa-check"></i>
            </span>
            @if (Courses.Any())
            {
                if (!Staff.ShowCourses)
                {
                    <a @onclick="() => Staff.ShowCourses = !Staff.ShowCourses"><i class="grow float-left fa fa-caret-right" style="color:darkgray; padding-left:10px; padding-top:3px" aria-hidden="true"></i></a>
                }
                else
                {
                    <a @onclick="() => Staff.ShowCourses = !Staff.ShowCourses"><i class="grow float-left fa fa-caret-down" style="color:darkgray; padding-left:10px; padding-top:3px" aria-hidden="true"></i></a>
                    <div class="form-group">
                        <table class="course-table table table-bordered table-striped table-sm table-hover table-responsive-sm">
                            <thead>
                                <tr>
                                    <th>
                                        @(Courses.Count() == 1 ? "Course" : "Courses")
                                    </th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var course in Courses)
                                {
                                    <tr style="height:7px">
                                        <td>
                                            @course.Name
                                        </td>
                                       
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            }
        }
        else
        {
            <span class="badge" style="background-color:darkred">
                <i style="color:white" class="fa fa-close"></i>
            </span>
        }
    </td>
</tr>
