@page "/counter"


@inject ToastService toastService;

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button class="btn btn-info" @onclick="@(() => toastService.ShowToast("I'm an INFO message", ToastLevel.Info))">Info Toast</button>
<button class="btn btn-success" @onclick="@(() => toastService.ShowToast("I'm a SUCCESS message", ToastLevel.Success))">Success Toast</button>
<button class="btn btn-warning" @onclick="@(() => toastService.ShowToast("I'm a WARNING message", ToastLevel.Warning))">Warning Toast</button>
<button class="btn btn-danger" @onclick="@(() => toastService.ShowToast("I'm an ERROR message", ToastLevel.Error))">Error Toast</button>



<img src="/pictures/hogwarts_crest.jpg" />

@for (int i = 0; i < 5; i++)
{
    var a = i;
    <p><button class="btn btn-primary" @onclick="() => test(i)">Set counter to @a</button></p>
}


@functions {
    int currentCount = 0;

    protected void IncrementCount()
    {
        currentCount++;

    }

    void test(int i)
    {
        currentCount = i;
    }
}