<tr style="padding: 0px; padding-bottom:-2px; color: #DCDCDC" @key="Staff.Id">
    <td style="background-color: @backgroundColor; color: #DCDCDC" class="table-checkbox-row">
        <label class="table-checkbox-label" style="margin-right:-17px !important; ">
            <input type="checkbox" checked="checked" disabled= "disabled" />
            <span class="table-checkbox-span"></span>
        </label>
    </td>
    <td style="background-color: @backgroundColor"class="text-sm-center">@Staff.Id</td>
    <td style="background-color: @backgroundColor; padding:0px"><input style="margin:0px; margin-top:3.3px; margin-left:5px; border:none" type="text" @bind="@Staff.FirstName" /> <input style="margin:0px; margin-top:3.3px; border:none" @bind="@Staff.MiddleNames" placeholder="Middle Names"></td>
    <td style="background-color: @backgroundColor;  padding:0px"><input style="margin:0px; margin-top:3.3px; margin-left:5px; border:none" type="text" @bind="@Staff.LastName" /></td>
    <td style="background-color: @backgroundColor" class="ml-4">
        <span class="float-left">@Staff.Roles.Count()</span>
        @if (Staff.Roles.Count() > 0)
        {
            <a><i class="grow float-left fa fa-caret-right" style="padding-left:10px; padding-top:3px" aria-hidden="true"></i></a>
        }
    </td>
    <td style="padding: 0px; background-color: @backgroundColor" class="text-center">
        @if (Staff.Roles.Any(r => r.Id == 3))
        {
            <a style="margin:0px; background:none; padding:0px">
                <h5 style="margin:0px"><span style="color:#DCDCDC">&#10003;</span></h5>
            </a>
        }
        else
        {
            <h5 style="margin:0px"><span style="color:#DCDCDC">&#10007;</span></h5>
        }
    </td>
    <td style="background-color:@backgroundColor" class="text-center"><i style="color:#DCDCDC" class="fas fa-eye"></i></td>
</tr>

